@model IEnumerable<Corts.Models.HomeViewModel>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My Car Ownership Tracker</title>
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Paytone+One|Russo+One" rel="stylesheet">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div id="logo"></div>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="titleInfo">
                        @Html.ActionLink("MaintenanceMate", "Index", "Home", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "navbar-brand" })
                        <!--<div class="vl"></div>
            <p>maintenance made easy</p>-->
                    </div>
                </div>
                @if (ViewBag.Email == null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                }
                @if (ViewBag.Email != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Log Out", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="side">
            <ul class="nav navbar-nav">
                <li id="top">
                    @Html.ActionLink("Home", "Index", "Home", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "homeLink" })
                </li>
                <li id="small">
                    @Html.ActionLink("Services", "Maintenance", "Maintenance", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "maintLink" })
                </li>
                <li>
                    @Html.ActionLink("Settings", "Settings", "Manage", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "settingLink" })
                </li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My Car Ownership Tracker</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
