@model IEnumerable<Corts.Models.HomeViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Car Ownership Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Paytone+One|Russo+One" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /*TOP BAR HEIGHT*/
        .navbar-header {
            height: 85px;
        }
        /*WHITE CAR LOGO TOP LEFT*/
        #logo {
            position: fixed;
            top: 1.2%;
            left: 2.83%;
            height: 70px;
            width: 70px;
            border-radius: 5px;
            background-color: #AEC3B0;
            background: url(../../Images/whiteCar.png) no-repeat;
        }
        /*MAINTENANCE MATE TITLE WORDS*/
        #titleInfo a {
            font-size: 55px;
            padding-top: 31px;
            color: #AEC3B0;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 900;
            transition-duration: .3s;
        }
        #titleInfo a:hover {
            transition-duration: .3s;
            color: #EFF6E0;
        }
        /*REGISTER AND LOG IN BUTTONS*/
        .navbar-collapse li {
            width: 130px;
            height: 55px;
            border-radius: 7px;
            margin-right: 10px;
            margin-top: 5.1%;
            text-align: center;
        }
        /*REGISTER AND LOG IN LINK*/
        #registerLink, #loginLink {
            color: black;
            border-radius: 5px;
            font-size: 20px;
            margin-bottom: 50px;
            height: 100%;
            background-color: #EFF6E0;
            font-family: 'Merriweather Sans', sans-serif;
            transition-duration: .3s;
        }
        #registerLink:hover, #loginLink:hover {
            background-color: #124559;
            color: white;
            transition-duration: .3s;
        }
        /*TOP BAR AND BODY CONTENT CONTAINER*/
        .container {
            height: 100%;
            width: 89%;
            margin-left: 11%;
        }
        /*TOP BAR*/
        .navbar {
            background-color: #01161E;
        }
        /*SIDE BAR*/
        .side {
            float: left;
            width: 150px;
            height: 100%;
            display: block;
            position: fixed;
            z-index: 1;
            margin-top: 20px;
            padding-top: 10px;
            background-color: #124559;
        }
        /*SIDE BAR BUTTONS*/
        .side li {
            border-radius: 12px;
            width: 67%;
            height: 105px;
            margin-top: 20px;
            margin-left: 16%;
            margin-right: 9%;
            background-color: #598392;
            font-family: 'Merriweather Sans', sans-serif;
            transition-duration: .3s;
        }
        .side li:hover {
            transition-duration: .3s;
            background-color: #EFF6E0;
        }
        /*SIDE BAR LINKS*/
        .side a {
            text-align: center;
            border-radius: 12px;
            background-color: transparent;
            transition-duration: .3s;
            color: black;
        }
        .side a:hover {
            transition-duration: .3s;
            background-color: transparent;
            color: black;
        }
        #homeLink, #maintLink, #settingLink {
            margin-top: 7px;
            margin-left: 16px;
            padding-left: 4px;
            padding-right: 4px;
            margin-right: 16px;
            padding-top: 75px;
            text-align: center;
            color: black;
            font-weight: bold;
        }
        #homeLink {
            background: url(../../Images/home.svg) no-repeat;
        }
        #maintLink {
            background: url(../../Images/maint.svg) no-repeat;
        }
        #settingLink {
            background: url(../../Images/setting.svg) no-repeat;
        }
        .side #a {
            top: 123px;
        }
        .side #b {
            top: 250px;
        }
        .side #c {
            top: 374px;
        }
        /*BODY CONTENT OF ALL RENDERED PAGES*/
        .body-content {
            padding-bottom: 200px;
            padding-left: 25px;
            margin-left: 150px;  
            position: fixed;
            margin-top: 35px;
            background-color: #EFF6E0;
            width: 100%;
            overflow: auto;
        }
        /*CONTENT PAGE FIRST HEADER*/
        .body-content h2 {
            font-family: 'Hammersmith One', sans-serif;
            font-size: 40px;
        }
        /*CONTENT PAGE DESCRIPTION*/
        .body-content h4 {
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 20px;
        }
        /*CONTENT PAGE FOOTER*/
        .body-content footer {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 15px;
        }
        /*CONTENT LABELS AND TEXT FIELDS (AT SETTINGS, LOGIN, AND REGISTER)*/
        .body-content .form-group {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
        /*CONTENT SUBMIT BUTTONS*/
        input[type=submit] {
            font-size: 20px;
            border-radius: 6px;
            width: 120px;
            font-weight: 600;
            letter-spacing: 0.3px;
        }
        /*CONTENT HORIZONTAL BLUE LINES*/
        hr {
            border-top: 2px solid #124559;
            border-radius: 10px;
            width: 1000px;
            width: 1000px;
            margin-left: 0;
            margin-top: 5px;
        }
        /*CSS RESIZE AT WINDOW SIZE*/
        @@media only screen and (max-width: 970px){
            #titleInfo a {
                font-size: 35px;
            }
        }
        @@media only screen and (max-width: 768px) {
            .body-content {
                margin-left: 70px;
            }
            .side {
                width: 75px;
            }
            .side li {
                height: 60px;
                width: 60px;
                margin-right: 27px;
                margin-left: 22px;
                padding-top: 0.1px;
                font-size: 10px;
            }
            #homeLink, #maintLink, #settingLink{
                padding: 0;
                padding-top: 31px;
                margin-left: 14.5px;
            }
            #side{
                padding-top: 20px;
            }
            .navbar-header a {
                margin-left: 20px;
            }
            .navbar-collapse li {
                margin: 0;
                display: inline-block;
                height: 43px;
                width: 105px;
            }
        }
        @@media only screen and (max-width: 500px) {
            .navbar-header a {
                font-size: 33px;
                margin-left: 37px;
            }
            #titleInfo a {
                font-size: 25px;
                margin-left: 35px;
            }
        }
        /*SETTINGS PAGE*/
        /*SETTINGS PAGE WELCOME EMAIL TEXT*/
        #welc{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
        /*ADD VEHICLE CONTAINER BOX*/
        #left {
            float: left;
            width: 250px;
            text-align: center;
        }
        /*REMOVE VEHICLE CONTAINER BOX*/
        #right {
            float: left;
            margin-left: 20px;
            width: 250px;
            text-align: center;
        }
        /*SETTINGS PAGE SECTION HEADERS*/
        .menu h3, #prof h3, #notifications h3 {
            margin: 0;
            font-family: 'Source Sans Pro', sans-serif;
            margin-left: 10px;
            font-weight: 600;
            font-size: 30px;
            color: #124559;
        }
        /*SETTINGS PAGE DROP DOWN MENUS*/
        .menu select {
            width: 90%;
            height: 30px;
            font-size: 18px;
            border-radius: 6px;
            margin-bottom: 15px;
            margin-left: 10px;
            margin-top: 2px;
            color: #01161E;
        }
        /*ADD/REMOVE VEHICLE DROP-DOWN MENUS*/
        #newCar, #removeCar {
            width: 100%;
        }
        /*ADD/REMOVE BUTTONS*/
        #addBtn, #remBtn {
            margin-right: 40px;
            margin-bottom: 20px;
            width: 120px;
            height: 45px;
            font-size: 22.5px;
            font-weight: 700;
            border-radius: 5px;
            padding: 0;
        }
        /*SETTINGS PAGE PROFILE SECTION*/
        #prof {
            border-radius: 7px;
            color: #01161E;
            font-size: 18px;
            margin-top: 150px;
            width: 800px;
        }
        /*PROFILE SECTION LABELS FOR TEXT FIELDS*/
        #prof .control-label{
            width: 155px;
            padding: 0;
            margin: 0;
            padding-top: 4px;
        }
        /*PROFILE SECTION TEXT FIELDS*/
        #prof .form-group .col-md-10{
            width: 300px;
            margin-left: 10px;
            display: inline;
        }
        /*PROFILE SECTION SUBMIT BUTTON*/
        #profSub{
            margin-left: 155px;
        }
        /*LOGIN DROP-DOWN MENUS*/
        #loginForm .form-group, #reg {
            width: 1000px;
        }
        /*LOGIN INVALID MESSAGE*/
        #inVal {
            color: #b23939;
            font-size: 18px;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0;
            margin-bottom: 3px;
            margin-left: 183px;
            font-weight: 800;
        }
        /*LOGIN NEW USER*/
        #newUser {
            font-size: 18px;
            font-family: 'Source Sans Pro', sans-serif;
            margin: 0;
            margin-bottom: 10px;
            margin-left: 167px;
            font-weight: 400;
        }
        #logTitle{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        /*SETTINGS ADD VEHICLE POP-UP MENU*/
        .modal-backdrop {
            z-index: -999999999 !important;
        }
        /*SETTINGS POP-UP MENU*/
        /*POP-UP MENU HIDDEN ATTRIBUTE*/
        #hid, #hidMain{
            display: none;
        }
        /*POP-UP MENU*/
        #pop, #popMain {
            margin-top: 80px;
            padding-left: 0;
        }
        /*POP-UP MENU HEADER*/
        #pop_in h3, #popMain_in h3 {
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 30px;
            font-weight: 600;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            padding-right: 20px;
        }
        /*POP-UP MENU HORIZONTAL LINE*/
        #pop hr, #popMain hr {
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            margin-right: 23px;
            width: 340px;
        }
        /*POP-UP MENU CONTAINER BOX*/
        #pop_in, #popMain_in {
            padding-left: 20px;
            padding-right: 0;
            margin-left: 0;
            width: 385px;
            height: 408px;
        }
        /*POP-UP MENU LABELS*/
        #pop_in .control-label, #popMain_in .control-label {
            width: 170px;
            padding: 0;
            margin: 0;
            font-size: 18px;
        }
        /*POP-UP MENU TEXT FIELDS*/
        #pop_in .col-md-10,#popMain_in .col-md-10 {
            width: 205px;
            padding-left: 5px;
            height: 15px;
            margin-bottom: 15px;
        }
        /*POP-UP MENU BUTTON CONTAINER BOX*/
        #pop_but, #popMain_but {
            margin-bottom: 15px;
            margin-left: 5px;
        }
        /*POP-UP MENU BUTTON*/
        #pop input[type="submit"], #popMain input[type="submit"] {
            width: 200px;
            margin: 0;
            padding: 5px;
            font-size: 25px;
            font-weight: 800;
        }
        /*MAINTENANCE POP-UP MENU*/
        /*POP-UP MENU CONTAINER BOX*/
        #popMain_in {
            height: 400px;
        }
        /*POP-UP MENU SECTIONS*/
        /*POP-UP SELECT WHICH VEHICLE*/
        #mainCar{
            width: 340px;
            margin: 0;
            padding: 0;
            margin-left: 1px;
        }
        #mainCar .control-label{
            margin: 0;
            padding: 0;
            margin-right: 65px;
            width: 30px;
        }
        .mainCarDrop {
            width: 200px;
            height: 30px;
        }
        /*POP-UP MILEAGE*/
        #mainMiles {
            width: 340px;
            margin: 0;
            padding: 0;
            margin-left: 1px;
            margin-top: 10px;
        }
        #mainMiles .control-label{
            width: 63px;
            margin: 0;
            padding: 0;
            margin-right: 26px;
        }
        #mainMiles .form-control {
            width: 200px;
            height: 30px;
        }
        /*POP-UP ITEMS*/
        #mainItems {
            width: 340px;
            margin: 0;
            padding: 0;
        }
        #mainCList {
            width: 340px;
            margin: 0;
            padding: 0;
        }
        /*POP-UP INSPECT*/
        #mainInspect {
            width: 340px;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
        }
        #mainInspect .control-label{
            width: 260px;
            height: 40px;
            margin: 0;
            padding: 0;
            padding-top: 5px;
        }
        #mainInspect .col-md-10{
            margin: 0;
            padding: 0;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
        /*HOME PAGE*/
        /*HOME IMAGE BOX CONTAINTERS*/
        .homeImg {
            display: inline-block;
            width: 300px;
            height: 200px;
            border: 1px solid #598392;
            margin: 0;
            padding: 0;
            margin-right: 45px;
            margin-bottom: 10px;
            border-radius: 15px;
        }
        /*HOME IMAGE HOVER BOXES*/
        #chevy p, #ford p, #subar p {
            color: white;
            background-color: #124559;
            font-size: 20px;
            position: absolute;
            margin: 0;
            padding: 0;
            padding-top: 55px;
            text-align: center;
            font-size: 30px;
            font-family: 'Source Sans Pro', sans-serif;
            opacity: 0;
            border-radius: 18px;
            width: inherit;
            height: inherit;
            transition-duration: .3s;
        }
         #chevy p:hover, #ford p:hover, #subar p:hover {
             opacity: 0.65;
             transition-duration: .3s;
         }
         /*HOME IMAGES BACKGROUNDS*/
        #chevy {
            background: url(../../Images/chevySmall.png) no-repeat;
        }
        #ford {
            background: url(../../Images/fordSmall.png) no-repeat;
        }
        #subar {
            background: url(../../Images/subarSmall.png) no-repeat;
        }
        /*HOME TABLE*/
        #info {
            width: 1000px;
            border-right: 1px solid #AEC3B0;
            border-bottom: 1px solid #AEC3B0;
        }
        /*HOME TABLE HEADERS*/
        #info th {
            font-family: 'Merriweather Sans', sans-serif;
            background-color: #01161E;
            color: #AEC3B0;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: center;
        }
        /*HOME TABLE BODY HEADERS*/
        #infoBod th {
            background-color: #124559;
            color: #EFF6E0;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }
        /*HOME TABLE BODY DATA*/
        #infoBod td {
            color: #01161E;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            border-right: 1px solid #AEC3B0;
        }
        /*MAINTENANCE PAGE*/
        /*MAINTENANCE VEHICLE SELECTION CONTAINER BOX*/
        #mainVehSel {
            float: left;
            width: 300px;
            height: 150px;
        }
        /*MAINTENANCE INFO BOXES CONTAINER*/
        #infoBoxes {
            float: left;
            width: 697px;
            height: 150px;
            padding-top: 25px;
        }
        /*MAINTENANCE SELECT VEHICLE HEADER*/
        #selVeh {
            font-size: 23px;
            font-family: 'Hammersmith One', sans-serif;
            margin: 0;
            padding: 0;
        }
        /*MAINTENANCE CONTAINER BOX FOR HEADER AND DROP*/
        #getCarMain {
            width: 400px;
            height: 40px;
            margin: 0;
            padding: 0;
        }
        /*MAINTENANCE FORM DROP DOWN*/
        #vehDrop {
            margin: 0;
            padding: 0;
            width: 250px;
            height: 40px;
        }
        .getCarDrop {
            width: 250px;
            border-radius: 5px;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        /*MAINTENANCE BUTTONS CONTAINER BOX*/
        #viewMain, #updateMain {
            width: 230px;
            margin: 0;
            padding: 0;
            padding-left: 20px;
            margin-bottom: 5px;
        }
        /*MAINTENANCE BUTTONS*/
        #viewBut, #updateBut {
            width: 230px;
            font-size: 15px;
            height: 30px;
            border-radius: 5px;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        /*MAINENANCE INFO BAR*/
        #mainStats {
            background-color: #124559;
            margin: 0;
            padding: 0;
            border-radius: 50px;
            color: #AEC3B0;
            text-align: center;
            height: 106px;
            border: 2px solid #01161E;
        }
        /*MAINTENANCE BOXES IN INFO BAR*/
        .infoCol {
            width: 150px;
            height: 106px;
            float: left;
            padding-top: 15px;
        }
        /*MAINTENANCE INFO BAR VERTICAL LINES*/
        .mainVert {
            width: 2px;
            height: 84px;
            float: left;
            margin-top: 8px;
            background-color: #01161E;
            border-radius: 50px;
            margin-right: 13px;
        }
        #mid1, #mid2{
            margin-left: 13px;
        }
        /*MAINTENANCE INFO BOX HEADERS*/
        #mainStats h4 {
            font-size: 20px;
            font-family: 'Hammersmith One', sans-serif;
            font-weight: 100;
            padding: 0;
            margin: 0;
        }
        /*MAINENANCE INFO BOXES INFO*/
        #mainStats h5 {
            font-size: 34px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #EFF6E0;
            padding: 0;
            margin: 0;
            padding: 4px;
            font-weight: 600;
            letter-spacing: 1.5px;
        }
        /*MAINTENANCE TABLE*/
        #vehTab {
            text-align: center;
            width: 1000px;
            height: 400px;
            margin: 0;
            padding: 0;
            margin-top: 185px;
            margin-bottom: 20px;
            border-radius: 15px;
            text-align: center;
            box-shadow: 0.8px 1.8px 3.8px rgba(0, 0, 0, .5);
        }
        /*MAINTENANCE TABLE HEADER*/
        #vehTab h3 {
            font-size: 40px;
            padding: 0;
            margin: 0;
            font-family: 'Source Sans Pro', sans-serif;
            text-align: center;
            background-color: #01161E;
            color: #598392;
        }
        /*MAINTENANCE TABLE HEADER ROW*/
        #titleRow{
            background-color: #01161E;
            color: #598392;
            padding: 0;
            margin: 0;
        }
        /*MAINTENANCE TABLE HEADER BOX*/
        #vehTab th{
            text-align: center;
            font-size: 23px;
            background-color: #124559;
            color: #EFF6E0;
        }
        /*MAINTENANCE TABLE DATA*/
        #vehTab td{
            font-size: 20px;
        }
        /*MAINTENANCE BOTTOM SPACER*/
        #spacer{
            width: 1px;
            height: 1px;
            margin-top: 170px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="logo"></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="titleInfo">
                    @Html.ActionLink("MaintenanceMate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <!--<div class="vl"></div>
                        <p>maintenance made easy</p>-->
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="side">
        <ul class="nav navbar-nav">
            <li id="top">
                @Html.ActionLink("Home", "Index", "Home", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "homeLink" })
            </li>
            <li id="small">
                @Html.ActionLink("Services", "Maintenance", "Maintenance", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "maintLink" })
            </li>
            <li>
                @Html.ActionLink("Settings", "Settings", "Manage", routeValues: new { email = ViewBag.Email }, htmlAttributes: new { id = "settingLink" })
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Car Ownership Tracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>