<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /*HTML/Body*/
        html, body {
            height: 100%;
        }
        body {
            padding-bottom: 0;
        }
        /*Nav Bar Header Div*/
        .navbar-header {
            height: 85px;}
        /*Top-Left Car Image*/
        #logo{
            display: inline;
            margin-bottom: 0;
            position: fixed;
            top: 1.2%;
            left: 2.83%;
            z-index: 0;
            height: 70px;
            width: 70px;
            border-radius: 5px;
            background-color: #AEC3B0;
            padding: 2px;
            background: url(../../Images/car.svg) no-repeat;
        }
        /*title heading*/
        .navbar-header a {
                font-size: 50px;
                padding-top: 31px;
                padding-bottom: 0;
                color: #AEC3B0;
                font-family: 'Merriweather Sans', sans-serif;
                font-weight: 600;
                transition-duration: .3s
            }
        .navbar-header a:hover{
            transition-duration: .3s
        }
        /*Vertical line*/
        .vl {
            border-left: 2px solid #124559;
            height: 60px;
            margin-left: 104%;
            margin-top: 4%;
            border-radius: 10px;
        }
        /*description next to title*/
        .navbar-collapse p {
            width: 850px;
            display: inline;
            font-size: 22px;
            color: #598392;
            position: fixed;
            top: 3.1%;
            left: 40%;
            font-size: 30px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        /*Nav Bar Collapse Div*/
        .navbar-collapse {
            width: 100%;
        }
        .navbar-collapse .navbar-nav {
                margin-right: 4%;
            }
        /*buttons on title*/
        .navbar-collapse li {
                width: 130px;
                height: 55px;
                border-radius: 7px;
                margin-right: 10px;
                margin-top: 5.1%;
                text-align: center;
        }
        #registerLink, #loginLink {
            color: black;
            border-radius: 5px;
            font-size: 20px;
            margin-bottom: 50px;
            height: 100%;
            background-color: #EFF6E0;
            font-family: 'Merriweather Sans', sans-serif;
            transition-duration: .3s;
        }
        #registerLink:hover, #loginLink:hover{
            background-color: #124559;
            color: white;
            transition-duration: .3s;
        }
        /*Navbar container*/
        .container {
            height: 100%;
            width: 89%;
            margin-left: 11%;
        }
        .navbar {
            background-color: #01161E;
        }
        /*Side Bar*/
        .side {
            float: left;
            clear: both;
            width: 150px;
            height: 100%;
            display: block;
            position: fixed;
            z-index: 1;
            margin-top: 20px;
            background-color: #124559;
        }
        /*buttons*/
        .side li {
                border-radius: 12px;
                width: 67%;
                height: 105px;
                margin-top: 20px;
                margin-left: 16%;
                margin-right: 9%;
                font-size: 20px;
                background-color: #598392;
                font-family: 'Merriweather Sans', sans-serif;
                transition-duration: .3s;
            }
        .side li:hover{
            transition-duration: .3s;
            background-color: #EFF6E0;
        }
        #top {
            margin-top: 40px;
        }
        /*side bar links*/
        .side a{
                text-align: center;
                border-radius: 12px;
                height: 100%;
                padding-top: 70px;
                color: #598392;
                background-color: transparent;
                transition-duration: .3s;
            }
        .side a:hover{
            transition-duration: .3s;
            background-color: transparent;
        }
        #homeLink, #maintLink, #settingLink {
            color: transparent;
            margin: 5px;
        }
        #homeLink {
            background: url(../../Images/home.svg) no-repeat;
        }
        #maintLink {
            background: url(../../Images/maint.svg) no-repeat;
        }
        #settingLink {
            background: url(../../Images/setting.svg) no-repeat;
        }
        /*images for buttons*/
        .side img {
                height: 75px;
                width: 80px;
                margin: 0;
                padding: 0;
                position: fixed;
                z-index: 0;
                left: 34px;
                font-size: 10px;
                font-family: 'Source Sans Pro', sans-serif;
            }
        .side #a {
                top: 123px;
            }
        .side #b {
                top: 250px;
            }
        .side #small {
                font-size: 14.5px;
                font-weight: 500;
            }
        .side #c {
                top: 374px;
            }
        /*Body/Content*/
        .body-content {
            margin-bottom: 0;
            padding-bottom: 0;
            padding-left: 25px;
            margin-left: 150px;
            width: 100%;
            position: fixed;
            margin-top: 30px;
            background-color: #EFF6E0;
        }
        .body-content h2{
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .body-content h4{
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .body-content footer{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 15px;
        }
        .body-content .form-group{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
        input[type=submit]{
            font-size: 20px;
            border-radius: 6px;
            width: 120px;
            font-weight: 600;
            letter-spacing: 0.3px;
        }
        /*Misc Styles*/
        hr {
            border-top: 2px solid #124559;
            border-radius: 10px;
        }
        /*Resizing at different window width*/
        @@media only screen and (max-width: 1200px) {
            .navbar-collapse p {display: none;}
            .vl{display:none;}
        }
        @@media only screen and (max-width: 768px){
            .body-content{margin-left: 70px;}
            .side{width: 75px;}
            .side li{height: 60px; width: 60px; margin-right: 27px; margin-left: 22px; padding-top: 0.1px;}
            #top{margin-top: 20px;}
            .navbar-header a{ margin-left: 20px;}
            .navbar-collapse li{margin: 0; display: inline-block; height: 43px; width: 105px;}
        }
        @@media only screen and (max-width: 500px){
            .navbar-header a{ font-size: 33px; margin-left: 37px;} 
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="logo"></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AutoTracking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="vl"></div>
            </div>
            <div class="navbar-collapse collapse">
                <p>Maintenance made easy</p>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="side">
        <ul class="nav navbar-nav">
            <li id="top">
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })
            </li>
            <li id="small">
                @Html.ActionLink("Maintenance", "Maintenance", "Maintenance", routeValues: null, htmlAttributes: new { id = "maintLink" })
            </li>
            <li>
                @Html.ActionLink("Settings", "Settings", "Manage", routeValues: null, htmlAttributes: new { id = "settingLink" })
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
